@import "tailwindcss";

:root {
  font-family: Inter;
}

.custom-card {
  border: 1px solid #d1d5db;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(227, 186, 186, 0.1); 
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.font-archivo {
  font-family: 'Archivo', sans-serif;
}

.p-stepper-panels {
  padding: 0!important;
}
.p-stepper-separator {

  height: 0px;
}

.p-datatable .p-datatable-thead > tr > th {
  font-size: 0.1rem;
  color: var(--primary-color);
}

.p-datatable .p-datatable-tbody > tr {
  height: 2.8rem;
  font-size: 0.9rem;
}

.p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-thead > tr > th {
  border: none;
  padding: 0 1.3rem;
}

.p-datatable .p-datatable-thead > tr > th {
  font-weight: bold;
  font-size: medium;
  color: var(--primary-color);
}

.p-datatable .p-datatable-thead > tr > td {
  font-size: small;
}
.p-datatable .p-datatable-tbody > tr:nth-child(odd) {
  background-color: rgba(59, 130, 246, 0.1);
}

.p-datatable .p-datatable-tbody > tr:hover {
  background-color: #f1f5f9;
}

.p-datatable .p-datatable-tbody > tr > td:first-child {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.p-datatable .p-datatable-tbody > tr > td:last-child {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}